*.hi
*.o
*.swp
*.tag
*~
*_flymake.hs
.hsenv
.stack-work/
/.cabal-sandbox/
TAGS
cabal-dev/
cabal.sandbox.config
dist/
tags
/_release/
/.dir-locals.el

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.synctex.gz

## Intermediate documents:
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
*.ps
# *.eps
*.pdf
/_minted-paper/
/auto/

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml
